body {
    font-family: Roboto;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    vertical-align: middle;
}

nav>img {
    width: 200px;
    object-fit: contain;
    margin-left: 50px;
}


nav>ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}



nav>button {
    margin-right: 50px;
}

.badge-section {
    text-align: right;
    padding-top: 50px;
}

.badge>img {
    width: 50px;
    justify-content: right;

}


#btn-mission {
    background-color: transparent;
    border: 2px solid white;
}

#btn-donate {
    background-color: transparent;
    border: 2px solid #fcc96a;
    color: #fcc96a;
}

.moment-focus {
    width: 70%;
    margin-top: 25px;
    line-height: 30px;

}

.resume-display {
    width: 30%;
    padding-top: 25px;
}

button {
    background-color: #fcc96a;
    color: white;
}



.yellow-line {
    width: 150px;
    border-bottom: 2px solid #fcc96a;


}

#yellow-title {
    color: #fec96b;
}

.jumbotron {
    background-image: url('img/sfondo-top.jpeg');
    color: white;
    text-align: center;
    justify-content: center;
    height: 500px;
}

.moment {
    display: flex;
    justify-content: center;
    text-align: center;
}


.moment-focus {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}


.moment>button {
    position: absolute;
}

.resume-display {
    background-color: #e66461;
    color: white;
    line-height: 20px;

}

.resume-display>.fa-brands,
.fa-solid {
    color: white;
}

.values {
    background-image: url('img/happy-kids.jpg');
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .7);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 800px;
    vertical-align: middle;
    display: flex;
    justify-content: center;

}


.values-title {
    position: absolute;
    margin-top: 100px;
}

.card {
    width: 300px;
    height: 500px;
    text-align: center;
    margin-top: 250px;
}


.causes {
    text-align: center;
    justify-content: center;
    align-items: center;

}

.causes>img {
    width: 200px;

}

.causes>button {
    background-color: #e66461;
    display: flex;
    position: absolute;
}


.container {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.latest {
    display: flex;
    justify-content: center;

}


.latest-title {
    position: absolute;
}


.image-focus {
    margin-top: 120px;
}

.image-focus>img {
    width: 400px;
}


.image-list {
    margin-top: 120px;
}

.card-list {
    display: flex;
}

.card-list>img {
    width: 150px;
    height: 100px;
    object-fit: contain;
}


.container>button {
    position: absolute;
    margin-top: 700px;
    width: 1000px;
    height: 80px;
    background-color: #e66461;
}

.action {
    background-image: url('img/soccer.jpg');
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .7);
    background-size: cover;
    color: white;
    text-align: center;
    height: 500px;
    margin-top: 200px;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social {
    flex-direction: row;
}