body {
    font-family: Roboto;
}

nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    height: 80px;
    vertical-align: middle;
}

button {
    background-color: #fcc96a;
    color: white;
}



.jumbotron {
    background-image: url('img/sfondo-top.jpeg');
    color: white;
    text-align: center;
    justify-content: center;
    height: 500px;
}

.moment {
    display: flex;
    justify-content: center;
    text-align: center;
}

.resume-display {
    background-color: #e66461;
    color: white;
}

.values {
    background-image: url('img/happy-kids.jpg');
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .7);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 800px;
    display: flex;
}